* {
 margin: 0;
padding: 0;
 box-sizing: border-box;
 }

 body {
 font-family: 'Arial',sans-serif;
 background: linear-gradient(135deg,#667eea 0%, #764ba2 100%);
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 padding: 20px;
 }

 .calculator {
 background: #2c3e50;
 border-radius: 20px;
 padding: 20px;
 box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
 max-width: 350px;
 width: 100%;
 height: 80vh;
 }

 .display {
 margin-bottom: 15px;
 }

 #display {
 width: 100%;
 height: 80px;
 font-size: 2em;
 text-align: right;
 padding: 0 20px;
 border: none;
 border-radius: 10px;
 background: #34495e;
 color: white;
 font-weight: bold;
 }

 .buttons {
 display: grid;
 grid-template-columns:repeat(4, 1fr);
 width: 100%;
 gap: 10px;
 margin: 1rem 1rem 1rem 0;
 }

 .btn {
 height: 40px;
 max-width: 300px;
 width: 100%;
 border: none;
 border-radius: 35px;
 font-size: 1.2em;
font-weight: bold;
 cursor: pointer;
 transition: all 0.2sease;
 }

 .btn:hover {
 transform: translateY(-2px);
 box-shadow: 0 5px15px rgba(0, 0, 0, 0.3);
 }

 .btn:active {
 transform: translateY(0);
 }

 .number {
 background: #95a5a6;
 color: white;
 }

 .number:hover {
 background: #7f8c8d;
 }

 .modulus{
    background: #95a5a6;
     color: white;
 }

 .modulus:hover{
    background: #7f8c8d;
 }

 .operator {
 background: #e67e22;
 color: white;
 }

 .operator:hover {
 background: #d35400;
 }

 .squareroot{
    background: #e74c3c; 
    color: white;
    font-weight: bolder;
 }

 .squareroot:hover {
 background: #d35400;
 }

 .equals {
 background: #27ae60;
 color: white;
 grid-row: span 2;
 
 }

 .equals:hover {
 background: #229954;
 }

 .clear {
 background: #e74c3c;
 color: white;
 }

 .clear:hover {
 background: #c0392b;
 }

/*  .zero-margin{
    margin-top: -5rem;
 } */

/* .zero {
 grid-column: span2;
 } 

 /* Responsive Design */
 @media (max-width: 480px){
 .calculator {
 padding: 15px;
 max-width: 280px;
 }
 .btn {
 height: 50px;
 font-size: 1em;
 }
 #display {
 height: 60px;
 font-size: 1.5em;
 }
 }
